[package]
name = "provider-runtime-config"
edition.workspace = true
version.workspace = true
license.workspace = true

[dependencies]
serde.workspace = true

[dev-dependencies]
serde_json.workspace = true

